@model TransportationArea.Models.AreasModel
@{
    ViewData["Title"] = "CreateCity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Создание Города</h1>
<form asp-controller="LoadingPoints" asp-action="CreateCity">
    <div class="row">
        <div class="col-md-5 mb-4">
            <div class="input-group">
                <label class="input-group-text">Название:</label>
                <input asp-for="Name" type="text" class="form-control" placeholder="Введите наименование города">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 mb-4">
            <div class="input-group ">
                <label class="input-group-text">Зона:</label>
                <select asp-for="IdArea" asp-items="@(new SelectList(Model.areas,"Id","Name"))" class="form-control required"></select>
            </div>
        </div>
        <div class="col-md-1 mb-1">
            <a class="btn btn-link" href="~/Order/CreateArea" role="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                </svg>
            </a>
        </div>

    </div>
    <button type="submit" class="btn btn-outline-primary">Сохранить</button>
</form>

